{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="indexpage.css">
  <link rel="stylesheet" href="global.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gothic A1:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" />
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>

  <title>Customer Service Bot Juliet</title>
  <script async src="https://js.stripe.com/v3/pricing-table.js"></script>

  <style>
    /* Your existing styles here */
    .stripe-pricing-table {
      background-color: rgba(255, 255, 255, 0);
      /* white color with 0 opacity */
    }

    body
    {
      max-width: 100% !important;
    }

    a {
      text-decoration: none;
      color: inherit;
      /* This will keep the text color the same as the surrounding text */
    }
  </style>
</head>

<body>
  <div class="landing-page">
    <section class="r-g-p-d">

      <header class="built-in-europe">
        <div class="rgpd-banner">
          <div class="built-in-europe1 py-2">Built in Europe. First on privacy.</div>
        </div>

        <div class="header bg-light mb-5">
          <div class="container my-lg-2">
            <div class="row align-items-center justify-content-around">
              <div class="col-lg-3 text-md-center text-lg-start ">
                <div class="">
                  <img class="logo-ai-boosters-header-icon" loading="lazy" alt="AiBoosters UK"
                    src="csbtenants/images/logo-ai-boosters-header_2x.png" />
                </div>
              </div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="hero">
                      <div class="middle-header">
                        <div class="private-service">
                          <a href="mailto:contact@aiboosters.co.uk" class="contact">Home</a>
                        </div>
                        <div class="private-service mx-2">
                          <a href="mailto:contact@aiboosters.co.uk" class="contact">Contact</a>
                        </div>
                        <div class="private-service1">
                          <a href="{% url 'pricing_table' %}" class="pricing" id="pricing-link">Pricing</a>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 text-center pt-3 text-md-end">
                    <button class="button flex-end" id="login-button">
                      <div class="log-in">Log in</div>
                    </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="juliet-image">

            </div>
            <hr class="d-lg-none d-md-block">
          </div>

        </div>

      </header>
      
      <div class="hero1 justify-content-center">
        <div class="container pt-5">
         
          <div class="row justify-content-around">
            <div class="col-lg-5 pb-3 text-lg-start">
              <h1 class="text-warning">Privacy & Confidentiality</h1>
              <div class="aibooster-provides-the text-secondary my-5">
                At AiBoosters, we understand the importance of confidentiality, especially for industries like healthcare, law, and finance. Juliet, our customer service chatbot, ensures that every conversation remains completely private. No chats are stored, and no data leaves our system. Your clients' privacy is our top priority.
              </div>
              <button class="bouton-log-in show-pricing" id="show-pricing-button">
                <div class="build-a-chatbot">Build a chatbot for free</div>
              </button>
            </div>
            <div class="col-lg-5">
              <iframe class="a-suppr-video-header w-100"
                src="https://www.youtube.com/embed/4lpHPhPrUzQ?controls=0&modestbranding=1&rel=0&loop=0&playlist=4lpHPhPrUzQ"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="our-solution">
    </div>
    <div class="container-fluid bg-dark py-5 shapedividers_com-632">
    <section class="container py-5"> <!-- juliet -->
      <div class="row justify-content-around">
      <div class="col-lg-11 text-center text-lg-start">    
        <h2 class="display-4 text-warning pt-5">Meet Juliet,</h2>
        <h5 class="pb-4 text-secondary">Your Confidential Customer Service Agent...</h5>
      </div>
      <div class="col-lg-4 text-center text-lg-start">
    
        <img class="img-fluid rounded shadow-lg w-75" loading="lazy" alt="" src="csbtenants/images/csbjuliet2.jpg" />
      </div>
      <div class="col-lg-6">
       
        <div>
          <UL class="mb-5">
            <LI><b class="pb-2 d-block text-warning">Confidentiality First:</b> <p class="text-secondary">Ensures complete privacy for all conversations.</p></LI>
            <LI><b class="pb-2 d-block text-warning">Increase Customer Satisfaction:</b><p class="text-secondary">Handle more customer queries efficiently, leading to higher satisfaction and increased profits.</p> </LI>
            <LI><b class="pb-2 d-block text-warning">Optimized for Smartphones:</b> <p class="text-secondary">Features speech-to-text functionality for seamless use on mobile devices.</p> </LI>
            <LI><b class="pb-2 d-block text-warning">Easy Setup:</b> <p class="text-secondary">Simply provide the necessary content, and Juliet does the rest.</p></LI>
            
          </UL>
        </div>
        <button class="bouton-log-in show-pricing" id="show-pricing-button">
          <div class="build-a-chatbot">Build a chatbot for free</div>
        </button>
      </div>
    </div>
    </section>
  </div>
    <div class="our-solution">
    </div>

    <div class="your-human-agents"></div>

    <section class="adopt-juliet">
      <div class="container pb-5">
      <div class="advantages">

        <div class="suitcase-parent mb-lg-5">
          <h2 class="suitcase-title">Confidentiality is Key</h2>
          <div class="suitcase">
            Confidentiality is crucial. With Juliet, you can be assured that no conversations are saved, and no data is used or shared. This makes Juliet the perfect solution for industries where privacy is paramount, such as healthcare, law, and finance.</B>
          </div>
        </div>

        <div class="suitcase-parent mb-lg-5"">
          <h2 class="suitcase-title">Ease of use</h2>
          <div class="suitcase">
            Juliet is designed for simplicity. Just copy a small HTML snippet into your website, upload your information, and Juliet takes care of the rest. It's that easy to have a fully functional chatbot on your site. 
          </div>
        </div>

        <div class="suitcase-parent mb-lg-5"">
          <h2 class="suitcase-title">Seamless Connectivity</h2>
          <div class="suitcase">
            Juliet offers seamless connectivity through our API. Access and manage your chatbot from anywhere in the world, download data in CSV format, and enjoy multi-user support. Juliet integrates effortlessly with your existing systems.
          </div>
        </div>
      </div>
    </div>

      <footer class="footer bg-light">
        
        <div class="container py-5">
        <div class="row justify-content-around">
        <div class="col-lg-5"> <!-- footer-left  -->
    
          <img class="logo-ai-boosters-header-icon1" alt="AiBoosters UK"
            src="csbtenants/images/logo-ai-boosters-header_2x.png" />

            <div class="logos">
              <a href="https://www.facebook.com/61557804696610/" target="_blank">
                <img class="logo-fb-icon" loading="lazy" alt="facebook"
                  src="csbtenants/images/logo-fb-2-1.png" />
              </a>
  
              <a href="https://www.linkedin.com/company/103141851/" target="_blank">
                <img class="logo-lkdn-icon" loading="lazy" alt="linked in"
                  src="csbtenants/images/logo-lkdn-2-1.png" />
              </a>
            </div>
          <div class="contactaiboostersbe">
            <a href="mailto:contact@aiboosters.co.uk">contact@aiboosters.co.uk</a>
          </div>

        </div>

        <div class="col-lg-5 text-center text-lg-end"> <!-- footer-right -->
          <div class="adopt-juliet1">
            <div class="ready-to-adopt">Ready to adopt Juliet ?</div>
            <button class="bouton-log-in show-pricing" id="show-pricing-button">
              <div class="build-a-chatbot">Build a chatbot for free</div>
            </button>
          </div>
   
        </div>
        <div class="col-lg-12 justify-content-center text-center align-items-around flex-row"> 
          <!-- <div class="policy"> -->
            <a href="{% url 'terms_of_service' %}" class="terms-of-service py-2 ">Terms of Service</a><span class="d-none d-lg-inline"> | </span>
            <a href="{% url 'privacy_policy' %}" class="privacy-policy py-2">Privacy Policy</a><span class="d-none d-lg-inline "> | </span>
            <a href="{% url 'cookie_policy' %}" class="cookie-policy py-2">Cookie Policy</a>
          <!-- </div> -->
        </div>
        <div class="col-lg-12 text-center">
          
            @2024 AiBoosters UK. All rights reserved.
          
        </div>
      </div>
    </div>
      </footer>
    </section>
  </div>

  <div class="user-infolineXX container-fluid" style="clear:both;overflow:auto;">
    <table class="table w-100">
      <tr>
        <td style="padding-right: 10px;"> Version: <b>{{csb_version}}</b></td>

        {% if user.is_authenticated %}
        <td style="padding-right: 10px;">Username: <b>{{ user.username }}</b></td>
        <td>Status: <b>
            {% if user.is_superuser %}
            Superuser
            {% elif user.is_staff %}
            Staff
            {% else %}
            Regular
            {% endif %}
          </b>
        </td>
        {% else %}
        <td>Anonymous User</td>
        {% endif %}
      </tr>
    </table>
  </div>

  <script>
    document.getElementById('show-pricing-button').addEventListener('click', function () {
      window.location.href = "{% url 'pricing_table' %}";
    });
    document.querySelectorAll('.show-pricing').forEach(button => {
      button.addEventListener('click', function () {
        window.location.href = "{% url 'pricing_table' %}";
      });
    });

    document.getElementById('login-button').addEventListener('click', function () {
      window.location.href = '/accounts/login/';
    });

    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#000"
          },
          "button": {
            "background": "#f1d600"
          }
        },
        "theme": "classic",
        "content": {
          "message": "This website uses cookies to ensure you get the best experience on our website.",
          "dismiss": "Got it!",
          "link": "Learn more",
          "href": "/cookie_policy/"
        }
      });
    });
  </script>



  <script>
    fetch('/api/get-chatbot-config/')
      .then(response => response.json())
      .then(config => {
        window.myChatbotConfig = {
          chatbotID: config.chatbotID,
          domain: config.domain
        };

        // Now load the chatbot.js script
        var script = document.createElement('script');
        script.type = "text/javascript";
        script.src = '/static/csbtenants/chatbot.js';
        script.defer = true;
        script.onload = function () {
          console.log('chatbot.js loaded successfully.');
          // leave the log, otherwise the onload is not executed.
          // This initiates the initChatbot
        };
        document.body.appendChild(script);
      })
      .catch(error => console.error('Failed to load chatbot configuration:', error));
  </script>

  <!---
    <script>
        window.myChatbotConfig = {
            chatbotID: "cus_OpfKTOBYlyL65z",
            //domain: "https://juliet.aiboosters.be"
            domain: "http://127.0.0.1:8000"
        };
    </script>
    <script src="/static/csbtenants/chatbot.js" defer></script>--->
</body>

</html>